<p id="notice"><%= notice %></p>

<div class="container">
  <div class="px-4 py-5 my-5 text-center bg-light">
    <h1 class="display-5 fw-bold">Paper Management System</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This application helps you to submit academic papers and assign them to their authors!</p>
    </div>
  </div>
</div>
