<div class="row my-4 py-3">
  <div class="col">
    <h1>Editing Paper</h1>
  </div>
</div>

<%= render 'form', paper: @paper %>

<hr class="my-4" />

<%= link_to 'Back', papers_path, class: 'btn btn-light' %>
<%= link_to 'Show', @paper, class: 'btn btn-primary' %>
